/client/node_modules
/client/package-lock.json
/server/node_modules
/server/addon/build
/server/addon/node_modules
/server/package-lock.json
/server/build
/server/dist
/client/dist
*.log
*.tsbuildinfo
.DS_Store
